<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahchim.android.ritto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 위치정보활용시 추가 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 위치정보활용시 추가 -->
    `
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- WIFI 상태활용시 추가 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- WIFI 상태활용시 추가 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".qrCodeReader.BaseScannerActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".qrCodeReader.FullScannerFragmentActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".WebActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".AutoGenActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing" />
        <activity
            android:name=".GeneratedNumListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".PastWinNumActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PurchasedNumActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DirectNumSelectActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".NationStoreActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize" />


        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_maps"></activity>
    </application>

</manifest>